@media (max-width:900px){
    .title-img{
        display: none;
    }

    #title{
        padding-bottom: 20px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

h1 {
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
}

#testimonials{
    padding: 2rem 0 2rem 0;
    background-color: #F0EABE;
}

#title {
    background-image: url(https://s.tmimgcdn.com/scr/1600x1000/125200/sport-center-club-illustration_125248-original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#press>img:hover {
    transition:ease-out 300ms;
    transform: scale(0.85);
    cursor: pointer;
}

#features{
    background-color: #FF87B2;
    padding: 7% 15%;
}

#features > .row{
    padding: 5%;
}

#pricing{
    padding: 7% 14%;
    background-color: #FFF8BC;
}

#footer{
    margin-top: 5px;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 0 15%;
}

.title-img {
    width: 20rem;
}

.test-img{
    position: relative;
    margin-left: 9.375rem;
    width:17rem;
}

.h2_custom{
    padding: 2rem;
}

.target_custom{
    margin: 10px;
    width: 50px;
}

.press > img{
    padding: 3rem;
}

.press{
    background-color: #F0EABE;
    padding: 3rem;
}

